<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.standardchartered.gooddeedmarathon" versionCode = "13" version = "1.0.0">


    <name>BrazilKickOffApp2014</name>

    <description></description>

    <author href="http://flyingcursor.com" email="tejas@flyingcursor.com">Flying Cursor</author>

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="fullscreen" value="true" />

    <access origin="*"/>
    <content src="index.html" />
    
    <preference name="android-minSdkVersion" value="14" />

    <gap:platform name="android" />
  

    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="261787254027306" />
        <param name="APP_NAME" value="BrazilKickOffApp2014" />
    </gap:plugin>
    
    <gap:plugin name="com.adobe.plugins.gaplugin" >
    
    <gap:plugin name="nl.x-services.plugins.socialsharing" version="2.3" />
    <gap:splash src="splash/ldpi.jpg" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/mdpi.jpg" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/hdpi.jpg" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/xhdpi.jpg" gap:platform="android" gap:density="xhdpi" />
    
    <icon src="icon.png" />
    

</widget>
