<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.standardchartered.gooddeedmarathon" versionCode = "13" version = "1.0.0">


    <name>Fifa Kick Off 2014</name>

    <description></description>

    <author href="http://www.sushil-s.com/" email="sushil.sud@gmail.com">Sushil Sudhakaran</author>

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="fullscreen" value="true" />

    <access origin="*"/>
    <content src="index.html" />
    
    <preference name="android-minSdkVersion" value="14" />

    <gap:platform name="android" />
  

    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="261787254027306" />
        <param name="APP_NAME" value="BrazilKickOffApp2014" />
    </gap:plugin>
    <icon src="images/logo.png" />
    

</widget>
