@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic|Roboto+Condensed:300italic,400italic,700italic,700,400,300|Roboto+Slab:700);

@font-face {
    font-family: "Levi Brush";
    src: url("fonts/LEVIBRUSH.TTF");
}

/*bootstrap starts here*/

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/*bootstrap ends here*/

body {
    position: relative;
}

.app-body {
    background-image: url("images/bg-slider/bg.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bar-kickoff {
    background: #ffcc28;
    border-bottom: none;
    padding: 15px 20px;
    border: none;
}

.bar-kickoff h4 {
    font-family: "Roboto";
    font-weight: 300;
    text-transform: uppercase;
    color: #303030;
    position: relative;
    text-align: left;
}

.bar-kickoff h4 span {
    font-weight: 700;
}

.fa-bars {
    color: #303030;
}

.fa-ellipsis-v {
    color: #303030;
    font-size: 20px;
}

.btn-navbar {
    padding-left: 0;
}

#mainSidebar {
    background-color: #303030;
    top: 50px;
}

.navbar-absolute-top {
    border: none;
}

.cus-list-group a.list-group-item.active, .cus-list-group a.list-group-item.active:hover, .cus-list-group a.list-group-item.active:focus, .cus-list-group .list-group-item, .cus-list-group a.list-group-item {
    background: transparent;
    border: none;
    font-family: "Roboto Condensed";
    color: #ffffff !important;
    font-size: 15px;
}

.cus-list-group .fa {
    width: 30px;
    height: 22px;
    left: 15px;
    top: 13px;
}

.cus-list-group .ion-cus-schedule {
    background: transparent url("images/sprites.png") no-repeat scroll 0 0;
    margin-right: 1em;
}

.cus-list-group .ion-cus-alarms {
    background: transparent url("images/sprites.png") no-repeat scroll 0 -48px;
    margin-right: 1em;
}

.cus-list-group .ion-cus-groups {
    background: transparent url("images/sprites.png") no-repeat scroll 0 -100px;
    margin-right: 1em;
}

.cus-list-group .ion-cus-predict {
    background: transparent url("images/sprites.png") no-repeat scroll 0 -152px;
    margin-right: 1em;
}

.cus-list-group .ion-cus-offers {
    background: transparent url("images/sprites.png") no-repeat scroll 0 -200px;
    margin-right: 1em;
}

.cus-list-group .ion-cus-now {
    background: transparent url("images/sprites.png") no-repeat scroll 2px -243px;
    margin-right: 1em;
}

.sidebar-left-in .app {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
}

.sidebar-left-in .sidebar-left {
    z-index: 4;
    -webkit-transition: z-index 400ms ease;
    transition: z-index 400ms ease;
}

/*nav bar and menu ends here*/

.button-facebook {
    background: transparent;
    margin: 0 auto;
    z-index: 20;
    display: block;
    clear: both;
    border: none;
    padding: 0;
    width: 300px;
}

.button-facebook > img {
    width: 100%;
    height: auto;
}


/*Groups starts here*/

.scrollable {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 50px;
}

#groups .col-sm-4 {
    margin-bottom: 20px;
}

#groups .col-sm-4 > div {
    background-color: #f7f7f7;
    padding: 15px;
}

.group-h4 {
    font-family: "Roboto Condensed";
    color: #ffffff; 
}

#groups .col-sm-4 h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

#groups .col-sm-4 h3:last-child {
    margin-bottom: 0;
}

.group-col-cus h3 > img {
    vertical-align: middle;
    margin-right: 10px;
}

/*Groups ends here*/


/*home page starts here*/

.cus-upcoming-matches > h3, .cus-upcoming-matches > p {
    color: #ffffff;
}

.cus-upcoming-matches > h3 {
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
}

.cus-upcoming-matches > p {
    font-family: 'Roboto Condensed';
}

.cus-upcoming-matches-cont {
    background: #f7f7f7;
}

.cus-upcoming-matches-cont .col-sm-8 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cus-upcoming-matches-cont .col-sm-8 h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Roboto Slab";
}

.cus-upcoming-matches-cont .col-sm-8 h3:last-child {
    margin-bottom: 0;
}

.cus-upcoming-matches-cont h3 > img {
    vertical-align: middle;
    margin-right: 10px;
}

.cus-upcoming-matches-cont .col-sm-4 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cus-upcoming-matches-cont .col-sm-4 > div > div.col-sm-6:first-child {
    border-left: 1px solid #808080;
}

.cus-upcoming-matches-cont .col-sm-4 > div > div.col-sm-6 .time {
    font-family: "Robot Condensed";
    color: #303030;
}

/*home page ends here*/

/*Set Alarm Class*/

.setAlarm {
    width: 22px;
    height: 17px;
    background: transparent no-repeat
}

/*Set Alarm Class ends here*/

/* Demo page starts here*/
.btn-cus-fb {
    background: transparent url("images/fb_login.php") no-repeat scroll top center;
    width: 280px;
    height: 58px;
    border: none;
    text-indent: -9999px;
}