<div id='groups' class="scrollable">
    <div class="scrollable-content">
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12'>
                    <img src="images/group-header.png" class='center-block' />
                </div>
                <div class='col-sm-4'>
                    <h4 class="group-h4">Group A</h4>
                    <div>
                        <h3><img ng-src='images/flags/Brazil.png' /> Brazil</h3>
                        <h3><img ng-src='images/flags/Croatia.png' /> Croatia</h3>
                        <h3><img ng-src='images/flags/Mexico.png' /> Mexico</h3>
                        <h3><img ng-src='images/flags/Cameroon.png' /> Cameroon</h3>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <h4 class="group-h4">Group B</h4>
                    <div>
                        <h3><img ng-src='images/flags/Spain.png' /> Spain</h3>
                        <h3><img ng-src='images/flags/Netherlands.png' /> Netherlands</h3>
                        <h3><img ng-src='images/flags/Chile.png' /> Chile</h3>
                        <h3><img ng-src='images/flags/Australia.png' /> Australia</h3>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <h4 class="group-h4">Group C</h4>
                    <div>
                        <h3><img ng-src='images/flags/Colombia.png' /> Colombia</h3>
                        <h3><img ng-src='images/flags/Greece.png' /> Greece</h3>
                        <h3><img ng-src='images/flags/Cote-Divoire.png' /> Côte d'Ivoire</h3>
                        <h3><img ng-src='images/flags/Japan.png' /> Japan</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="group-h4">Group D</h4>
                    <div>
                        <h3><img ng-src='images/flags/Uruguay.png' /> Uruguay</h3>
                        <h3><img ng-src='images/flags/Costa-Rica.png' /> Costa Rica</h3>
                        <h3><img ng-src='images/flags/England.png' /> England</h3>
                        <h3><img ng-src='images/flags/Italy.png' /> Italy</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="group-h4">Group E</h4>
                    <div>
                        <h3><img ng-src='images/flags/Switzerland.png' /> Switzerland</h3>
                        <h3><img ng-src='images/flags/Ecuador.png' /> Ecuador</h3>
                        <h3><img ng-src='images/flags/France.png' /> France</h3>
                        <h3><img ng-src='images/flags/Honduras.png' /> Honduras</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="group-h4">Group F</h4>
                    <div>
                        <h3><img ng-src='images/flags/Argentina.png' /> Argentina</h3>
                        <h3><img ng-src='images/flags/Bosnia-and-H.png' /> Bosnia and Herzegovina</h3>
                        <h3><img ng-src='images/flags/Iran.png' /> Iran</h3>
                        <h3><img ng-src='images/flags/Nigeria.png' /> Nigeria</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="group-h4">Group G</h4>
                    <div>
                        <h3><img ng-src='images/flags/Germany.png' /> Germany</h3>
                        <h3><img ng-src='images/flags/Portugal.png' /> Portugal</h3>
                        <h3><img ng-src='images/flags/Ghana.png' /> Ghana</h3>
                        <h3><img ng-src='images/flags/United-States.png' /> United States</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4 class="group-h4">Group H</h4>
                    <div>
                        <h3><img ng-src='images/flags/Belgium.png' /> Belgium</h3>
                        <h3><img ng-src='images/flags/Algeria.png' /> Algeria</h3>
                        <h3><img ng-src='images/flags/Russia.png' /> Russia</h3>
                        <h3><img ng-src='images/flags/Korea-Republic.png' /> Korea Republic</h3>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>