<div id='home' class="scrollable">
    <div class="scrollable-content">
       <div class="container" ng-show="isLoggedIn == 0">
            <div class="demo" >
                <img src="images/fb-login.png" width="206" height="49" ng-click="ezfbAsyncInit(); init=true; login();" />
            </div><!--demo ends here-->
       </div>
        <div class='container' ng-show="isLoggedIn == 1">
            <div class='row'>
                
                <div class='col-sm-12 cus-upcoming-matches'>
                    <h3>Upcoming Matches</h3>
                    <p>Friday, 13/06/2014</p>
                    <div id='upcoming-matches1' class='carousel'>
                        <div class="carousel-inner" ng-swipe-left="carouselPrev('upcoming-matches1')" ng-swipe-right="carouselNext('upcoming-matches1')">
                            <div class="item active">
                                <div class="carousel-example-content">
                                    <div class='container container-sm-height'>
                                        <div class='row cus-upcoming-matches-cont row-sm-height'>
                                            <div class='col-xs-6 col-sm-8 text-left col-sm-height'>
                                                <h3><img ng-src='images/flags/Brazil.png' /> Brazil</h3>
                                                <h3><img ng-src='images/flags/Italy.png' /> Italy</h3>
                                            </div>
                                            <div class='col-xs-6 col-sm-4 text-left col-sm-height'>
                                                    <div class="col-xs-6 col-sm-6">
                                                        <h3 class="time">21:30</h3>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6">
                                                        <p class="setAlarm"></p>
                                                    </div>
                                                
                                            </div>
                                            <div class='col-sm-12'>
                                                <p>
                                                    
                                                </p>
                                            </div>
                                        </div><!-- cus-upcoming-matches ends here-->
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-example-content">
                                    
                                </div>
                            </div>
                            <div class="item">
                                <div class="carousel-example-content">
                                    
                                </div>
                            </div>
                        </div>
                    </div><!--upcoming-matches1 ends here-->
                    <div id='upcoming-matches2' class='carousel'>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>