<ion-view>
<ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
        <img src="images/demo/slide1.png" />
    </ion-slide>
    <ion-slide>
        <img src="images/demo/slide2.png" />
    </ion-slide>
    <ion-slide>
        <img src="images/demo/slide3.png" />
    </ion-slide>
    <ion-slide>
        <img src="images/demo/slide4.png" />
    </ion-slide>
    <ion-slide>
        <img src="images/demo/slide5.png" />
    </ion-slide>
</ion-slide-box>
<button class="button button-facebook" ng-click="startApp()">
    <img src="images/fb-login.png" />
</button>
</ion-view>